/* ExpansionStyles.uss */
#ConfirmButton:hover {
    background-color: rgba(100, 255, 100, 0.4);
    scale: 1.05;
}

#CancelButton:hover {
    background-color: rgba(255, 100, 100, 0.4);
    scale: 1.05;
}

#ConfirmButton:active {
    background-color: rgba(100, 255, 100, 0.6);
    scale: 0.95;
}
